# CONFIG_NSH_DISABLE_DATE is not set
# CONFIG_NSH_DISABLE_MB is not set
# CONFIG_NSH_DISABLE_MH is not set
# CONFIG_NSH_DISABLE_MW is not set
CONFIG_ARCH="arm"
CONFIG_ARCH_BOARD_CUSTOM=y
CONFIG_ARCH_BOARD_CUSTOM_DIR="../vendor/beken/boards/bk7258/bk7258-r1"
CONFIG_ARCH_BOARD_CUSTOM_DIR_RELPATH=y
CONFIG_ARCH_BOARD_CUSTOM_NAME="bk7258-r1"
CONFIG_ARCH_CHIP="bk7258"
CONFIG_ARCH_CHIP_BK7258=y
CONFIG_ARCH_STACKDUMP=y
CONFIG_BOARD_LATE_INITIALIZE=y
CONFIG_BOARD_LOOPSPERMSEC=60000
CONFIG_BUILTIN=y
CONFIG_DEBUG_SYMBOLS=y
CONFIG_EXPERIMENTAL=y
CONFIG_FS_PROCFS=y
CONFIG_IDLETHREAD_STACKSIZE=2048
CONFIG_INIT_ENTRYPOINT="nsh_main"
CONFIG_INTELHEX_BINARY=y
CONFIG_LIBC_PERROR_STDOUT=y
CONFIG_LVX_USE_DEMO_CONTEST2026_441_VISION_BADGE=y
CONFIG_CONTEST2026_441_VISION_BADGE_STACKSIZE=8192
CONFIG_CONTEST2026_441_VISION_BADGE_CAMERA_DEVPATH="/dev/video0"
CONFIG_CONTEST2026_441_VISION_BADGE_AUDIO_DEVPATH="/dev/audio/pcm0c"
CONFIG_CONTEST2026_441_VISION_BADGE_JPEG_BUFFER_SIZE=262144
CONFIG_CONTEST2026_441_VISION_BADGE_RESULT_BUFFER_SIZE=32768
CONFIG_NSH_BUILTIN_APPS=y
CONFIG_NSH_READLINE=y
CONFIG_PREALLOC_TIMERS=4
CONFIG_RAMLOG=y
CONFIG_RAMLOG_BUFSIZE=8192
CONFIG_RAMLOG_SYSLOG=y
CONFIG_RAM_SIZE=344064
CONFIG_RAM_START=0x28010000
CONFIG_RAW_BINARY=y
CONFIG_RR_INTERVAL=200
CONFIG_SCHED_WAITPID=y
CONFIG_STANDARD_SERIAL=y
CONFIG_START_DAY=27
CONFIG_START_YEAR=2013
CONFIG_SYSTEM_NSH=y
CONFIG_SYSLOG_DEFAULT=y
CONFIG_SYSLOG_DEVPATH="/dev/kmsg"
CONFIG_SYSLOG_MAX_CHANNELS=2
CONFIG_TASK_NAME_SIZE=16
